<!-- <div id="progressBar">
	<div class="loader"></div>
</div> -->
<div ng-controller="ViewCtrl">
  <div class="heading-sec">
    <div class="row">
      <div class="col-md-4 column">
        <div class="heading-profile">
          <h2 ng-bind="json.json.title"></h2>
        </div>
      </div>
    </div>
  </div>
  <!-- Top Bar Chart -->
  <div class=" panel-content ">
    <div class="row ">
      <div class="col-md-12 ">
        <div class="widget ">
          <div class="table-area ">
            <div class="widget-title ">
              <div class="pull-right ">
                <form class="search-form mr-form ">
                  <input
                    type="text "
                    ng-change="getAllItems(true) "
                    placeholder="Search Here...
                        "
                    ng-model="search.keyword "
                  />
                </form>
                <a
                  ng-repeat="btn in json.json.button"
                  class="btn"
                  ng-class="btn.class"
                  ng-click="json.eventAction(btn)"
                  ng-if="btn.type=='page'"
                  >{{ btn.name }}</a
                >
                <a
                  ng-repeat="btn in json.json.button"
                  class="btn"
                  ng-class="btn.class"
                  ng-click="generateSampleExcel()"
                  ng-if="btn.type=='generateSampleExcel'"
                  >{{ btn.name }}</a
                >
                <a
                  ng-repeat="btn in json.json.button"
                  class="btn"
                  ng-class="btn.class"
                  ng-click="generateExcel()"
                  ng-if="btn.type=='generateExcel'"
                  >{{ btn.name }}</a
                >

                <upload-image
                  no-view
                  type="excel"
                  ng-repeat="btn in json.json.button"
                  ng-class="btn.class"
                  ng-if="btn.type=='uploadExcel'"
                  ng-model="form.file"
                  ng-callback="excelUploaded();"
                ></upload-image>
                <!-- <a
                  ng-repeat="btn in json.json.button"
                  class="btn "
                  ng-class="btn.class "
                  ng-click="json.eventAction(btn)"
                  >{{ btn.name }}</a
                > -->
              </div>
              <h3>
                {{ json.json.description }}
                <span class="tableTotal ">(Total : {{ totalItems }}) </span>
              </h3>
            </div>
            <div class="table-responsive " ng-show="totalItems>0 ">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th ng-repeat="field in json.json.fields">
                      {{ field.name }}
                    </th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in items">
                    <td>{{ $index + 1 + (currentPage - 1) * maxRow }}</td>
                    <td ng-repeat="field in json.json.fields">
                      <view-field type="field" value="item"></view-field>
                    </td>
                    <td>
                      <a
                        ng-repeat="but in json.json.action"
                        class="btn text-white mr-3"
                        ng-class="but.buttonClass"
                        ng-click="json.eventAction(but,item) "
                      >
                        <i class="fa" ng-class="but.icon"></i>{{ but.name }}
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="tableData " ng-show="totalItems===0 ">
              <h5>No data found</h5>
            </div>
            <div class="tableData " ng-show="totalItems===undefined ">
              <h5>Loading Data</h5>
            </div>
            <ul
              ng-if="totalItems "
              ng-change="changePage(currentPage); "
              uib-pagination
              total-items="totalItems
                                            "
              items-per-page="maxRow "
              ng-model="currentPage "
              max-size="template.pageMax "
              class="pagination-sm
                                            "
              boundary-links="true "
              force-ellipses="true "
            ></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
