/* Breakpoint for medium viewport */

@include media-breakpoint-down(md) {
  //For All
  .font-30 {
    font-size: 1.3rem;
  }
  .pt5,
  .content {
    padding-top: 5.3rem;
  }
  //For All End
  //Header
  header .navbar-light .navbar-nav .nav-item .nav-link {
    padding: 33px 11px;
    font-size: 0.8rem;
  }
  //Header End
}
