/* Breakpoint for medium viewport */

@include media-breakpoint-down(sm) {
  //For All
  .mb-5 {
    margin-bottom: 2rem !important;
  }
  .mt-5 {
    margin-bottom: 2rem !important;
  }
  .my-5 {
    margin-bottom: 2rem !important;
    margin-top: 2rem !important;
  }
  .font-18,
  .font-24 {
    font-size: 1rem !important;
  }
  .font-32 {
    font-size: 1.5rem;
  }
  .font-30 {
    font-size: 1.25rem;
  }
  .pt5,
  .content {
    padding-top: 4.95rem;
  }
  //For All End
  //Header
  .navbar-nav {
    width: 100%;
    margin-left: 0 !important;
  }
  header .navbar-light .navbar-nav .nav-item .nav-link {
    padding: 10px;
    text-align: center;
  }
  //Header End
  //About Us & Academy
  .team-brief {
    position: unset !important;
    padding: 1rem 0 0 !important;
  }
  .team-image-holder {
    margin: 0 auto;
  }
  //About Us & Academy End
  //Home
  .gradient {
    -webkit-box-shadow: inset 0px -60px 50px 0px rgba(22, 22, 22, 1);
    -moz-box-shadow: inset 0px -60px 50px 0px rgba(22, 22, 22, 1);
    box-shadow: inset 0px -60px 50px 0px rgba(22, 22, 22, 1);
  }
  //Home End
  //Contact Us
  .mobile-border {
    border: 1px solid #dee2e6 !important;
    padding: 1.5rem 0;
    margin: 0.5rem 0;
    border-left: 0 !important;
    border-right: 0 !important;
  }
  //Contact Us End
}
