footer {
  background-color: $header-footer;
  font-size: $font-size-sm;
  color: $text-color;
}

.footer-css {
  input {
    background-color: #ede7e7;
    color: $header-footer;
    &:focus {
      background-color: #ede7e7;
      color: $header-footer;
      border: 0;
    }
  }
  .btn {
    padding: 0;
    background-color: $white;
    box-shadow: none;
    border: 0;
  }
  .far {
    font-size: 40px;
    padding: 0 3px;
    line-height: 0.8;
    color: $header-footer;
  }
}

.footerMain {
  display: flex;
  justify-content: center;
}

.footerLists {
  a {
    color: $text-color;
    text-decoration: none;
    &:hover {
      color: $header-footer-hover;
      text-decoration: none;
      border-bottom: 2px solid rgba(229, 193, 0, 0.29);
    }
  }
  .listSeparator {
    float: right;
    margin: 0 5px;
  }
}

.social-content {
  display: inline-flex;
  background-color: $header-footer-hover;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: 0 16px;
  .fa {
    color: $header-footer;
    line-height: 30px;
    padding: 0 10px;
    font-size: 16px;
  }
  a:hover .fa {
    background-color: lighten(#696d88, 20%); // #696d88ab;
    color: lighten(#060d38, 10%); // #060d389c;
    border-radius: 100%;
  }
  .fa-facebook {
    padding: 0 11px;
  }
  .fa-twitter {
    padding: 0 9px;
  }
  .fa-instagram {
    padding: 0 9px;
  }
}
