header {
  font-size: $font-size-sm;
  position: fixed;
  width: 100%;
  z-index: 99;
  .navbar {
    padding: 0 2rem;
  }
  .navbar-light .navbar-nav {
    .nav-item {
      padding: 0;
      .nav-link {
        padding: 33px 22px;
        font-size: 0.93rem;
        color: $text-color;
        &:hover {
          background-color: #ffffff30;
          color: $header-footer-hover;
          transition: auto;
        }
      }
    }
  }
  .navbar-light .navbar-nav .active > .nav-link {
    color: $header-footer-hover;
    background-color: #ffffff30;
    transition: auto;
  }
  .navbar-light .navbar-toggler {
    color: $white;
    border-color: $white;
  }
  .navbar-toggler:hover,
  .navbar-toggler:focus {
    outline: 0;
  }
  .navbar-toggler {
    background-color: $white;
    border: 1px solid $white;
  }
}
