header {
  font-size: $font-size-sm;
  position: fixed;
  width: 100%;
  z-index: 99;
  .navbar-light .navbar-nav {
    .nav-item {
      padding: 0 3px;
      .nav-link {
        color: $text-color;
        border-bottom: 3px solid transparent;
        &:hover {
          color: $header-footer-hover;
          border-bottom: 3px solid $white;
          transition: auto;
          transform: skew(14deg, -2deg);
        }
      }
    }
  }
  .navbar-light .navbar-nav .active > .nav-link {
    color: $header-footer-hover;
    border-bottom: 3px solid $white;
    transition: auto;
    transform: skew(14deg, -2deg);
  }
  .navbar-light .navbar-toggler {
    color: $white;
    border-color: $white;
  }
  .navbar-toggler:hover,
  .navbar-toggler:focus {
    outline: 0;
  }
  .navbar-toggler {
    background-color: $white;
    border: 1px solid $white;
  }
}
