<!-- Top Bar Chart -->
<div class="heading-sec">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 column">
            <div class="heading-profile">
                <h2>{{title}} Homepage</h2>
            </div>
        </div>
    </div>
</div>

<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="form-elements-sec">
                    <form name="detailChampionsform" role="form" class="sec">
                        <div class="row">
                           
                            <!-- BANNERS -->
                            <div class="col-md-12">
                                <div class="form-group text-center">
                                    <label>Banners</label>
                                </div>
                                <div class="form-group text-right">
                                    <button class="btn btn-primary" ng-click="add(formData,'banner')">Add</button>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group table-responsive table-font reduce-tablepadding">
                                    <table class="table table-striped ">
                                        <thead>
                                            <th>
                                                <div>
                                                    Sr.no
                                                </div>
                                            </th>
                                            <th>
                                                <div>
                                                    Image (1920 x 810)
                                                </div>
                                            </th>
                                            <th>
                                                <div>
                                                    Link Type
                                                </div>
                                            </th>
                                            <th>
                                                <div>
                                                    Link
                                                </div>
                                            </th>
                                            <th>
                                                <div>
                                                    Title
                                                </div>
                                            </th>
                                            <th>
                                                <div>
                                                    Status
                                                </div>
                                            </th>
                                            <th>
                                                <div>
                                                    Action
                                                </div>
                                            </th>
                                        </thead>
                                        <tbody class="">
                                            <tr ng-repeat="bannerList in formData.banner track by $index">
                                                <td>
                                                    <div class="text-center">
                                                        {{$index + 1}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-center academy-gallery">
                                                        <upload-image ng-model="bannerList.image"></upload-image>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-center">
                                                        <select name="linktype" id="linktype" ng-model="bannerList.linkType" class="form-control">
                                                            <option value="Internal">INTERNAL</option>
                                                            <option value="External">EXTERNAL</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-center">
                                                        <input type="text" class="form-control" ng-model="bannerList.link" placeholder="Enter Link">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-center">
                                                        <input type="text" class="form-control" ng-model="bannerList.title" placeholder="Enter Title">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-center">
                                                        <select name="status" id="status" ng-model="bannerList.status" class="form-control">
                                                            <option value="Enable">Enable</option>
                                                            <option value="Disable">Disable</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-center">
                                                        <button class="btn btn-danger" ng-click="deleteAdded($index,'banner')">Delete</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- BANNERS END -->

                            <!-- ADBLOCKS -->
                            <div class="col-md-12">
                                <div class="form-group text-center">
                                    <label>Ad Blocks</label>
                                </div>
                                <div class="form-group text-right">
                                    <button class="btn btn-primary" ng-if="formData.adBlock.length<3" ng-click="add(formData,'adBlock')">Add</button>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group table-responsive table-font reduce-tablepadding">
                                    <table class="table table-striped ">
                                        <thead>
                                            <th>
                                                <div>
                                                    Sr.no
                                                </div>
                                            </th>
                                            <th>
                                                <div>
                                                    Image (1184 x 690)
                                                </div>
                                            </th>
                                            <th>
                                                <div>
                                                    Link Type
                                                </div>
                                            </th>
                                            <th>
                                                <div>
                                                    Link
                                                </div>
                                            </th>
                                            <th>
                                                <div>
                                                    Title
                                                </div>
                                            </th>
                                            <th>
                                                <div>
                                                    Status
                                                </div>
                                            </th>
                                            <th>
                                                <div>
                                                    Action
                                                </div>
                                            </th>
                                        </thead>
                                        <tbody class="">
                                            <tr ng-repeat="adList in formData.adBlock track by $index">
                                                <td>
                                                    <div class="text-center">
                                                        {{$index + 1}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-center academy-gallery">
                                                        <upload-image ng-model="adList.image"></upload-image>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-center">
                                                        <select name="linktype" id="linktype" ng-model="adList.linkType" class="form-control">
                                                            <option value="Internal">INTERNAL</option>
                                                            <option value="External">EXTERNAL</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-center">
                                                        <input type="text" class="form-control" ng-model="adList.link" placeholder="Enter Link">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-center">
                                                        <input type="text" class="form-control" ng-model="adList.title" placeholder="Enter Title">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-center">
                                                        <select name="status" id="status" ng-model="adList.status" class="form-control">
                                                            <option value="Enable">Enable</option>
                                                            <option value="Disable">Disable</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-center">
                                                        <button class="btn btn-danger" ng-click="deleteAdded($index,'adBlock')">Delete</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- ADBLOCKS END -->

                            <!-- GALLERY -->
                            <div class="col-md-12">
                                <div class="form-group text-center">
                                    <label>Gallery</label>
                                </div>
                                <div class="form-group text-right">
                                    <button class="btn btn-primary" ng-if="formData.gallery.length<4" ng-click="add(formData,'gallery')">Add</button>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group table-responsive table-font reduce-tablepadding">
                                    <table class="table table-striped ">
                                        <thead>
                                            <th>
                                                <div>
                                                    Sr.no
                                                </div>
                                            </th>
                                            <th>
                                                <div>
                                                    Image
                                                </div>
                                            </th>
                                            <th>
                                                <div>
                                                    Image Type
                                                </div>
                                            </th>
                                            <th>
                                                <div>
                                                    Status
                                                </div>
                                            </th>
                                            <th>
                                                <div>
                                                    Action
                                                </div>
                                            </th>
                                        </thead>
                                        <tbody class="">
                                            <tr ng-repeat="gallery in formData.gallery track by $index">
                                                <td>
                                                    <div class="text-center">
                                                        {{$index + 1}}
                                                    </div>
                                                </td>
                                                <td>
                                                        <div class="text-center academy-gallery">
                                                            <upload-image ng-model="gallery.image"></upload-image>
                                                        </div>
                                                    </td>
                                                <td>
                                                    <div class="text-center">
                                                        <select name="imageType" id="imageType" ng-model="gallery.imageType" class="form-control">
                                                            <option value="Image 285 x 300">Image 285 x 300 (2 times)</option>
                                                            <option value="Image 570 x 300">Image 570 x 300 (1 times)</option>
                                                            <option value="Image 570 x 600">Image 570 x 600 (1 times)</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                        <div class="text-center">
                                                            <select class="form-control" name="status" ng-model="gallery.status">
                                                                <option value="Enable">Enable</option> 
                                                                <option value="Disable">Disable</option>
                                                            </select>
                                                        </div>
                                                </td>
                                                <td>
                                                    <div class="text-center">
                                                        <button class="btn btn-danger" ng-click="deleteAdded($index,'gallery')">Delete</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- GALLERY END -->

                            <!-- BUTTON -->
                            <div class="col-md-12">
                                <div class="text-center mt20 odd-even-button">
                                    <button class="btn btn-default" ng-click="saveData(formData)">Save</button>
                                    <button class="btn btn-default" ui-sref="homepage">Cancel</button>
                                </div>
                            </div>
                            <!-- BUTTON END -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>