<section class="contact-us pt-5 bg-color text-white">
  <!-- <div class="banners-img" ng-if="banner.banner">
    <img
      ng-src="{{ banner.banner | uploadpath }}"
      alt="{{ banner.name }} Banner"
      class="img-responsive"
    />
  </div> -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div
          class="text-center text-uppercase oswald-bold main-head font-32 mb-5"
        >
          <span class="border-bottom border-light px-2">
            Contact us
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="text-center font-24 mt-3 mb-5">
          <em>Get in touch with us!</em>
        </div>
      </div>
    </div>
    <div class="row">
      <div
        class="col-10 mx-auto"
        ng-class="{'mb-3':contact.officeAddress,'mb-5':!contact.officeAddress}"
      >
        <div class="row no-gutters">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="text-center">
              <div class="">
                <i class="fas fa-mobile"></i>
              </div>
              <div class="">
                Phone
              </div>
              <div class="">
                <div
                  class=""
                  ng-repeat="mobile in contact.mobile track by $index"
                >
                  {{ mobile }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div
              class="text-center border-left border-right border-light px-3 mobile-border"
            >
              <div class="">
                <i class="fas fa-map-marker"></i>
              </div>
              <div class="">
                Address
              </div>
              <div class="">
                <div class="" style=" word-break: break-all;">
                  {{ contact.address }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="text-center">
              <div class="">
                <i class="fas fa-envelope"></i>
              </div>
              <div class="">
                Email
              </div>
              <div class="">
                <div
                  class=""
                  ng-repeat="email in contact.email track by $index"
                >
                  {{ email }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-if="contact.officeAddress">
      <div class="col-10 mx-auto mb-5">
        <div class="text-center">
          Office Address:
          <span class="px-3">
            {{ contact.officeAddress }}
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-12 col-12 mx-auto mb-5">
        <form
          name="enquiryForm"
          role="form"
          ng-submit="saveEnquiryForm(formData)"
        >
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  id=""
                  ng-model="formData.name"
                  placeholder="Name"
                  only-alpha
                />
              </div>
              <div class="form-group">
                <input
                  type="tel"
                  class="form-control"
                  name="mobile"
                  maxlength="10"
                  minlength="8"
                  id=""
                  only-digits
                  ng-model="formData.mobile"
                  placeholder="Mobile"
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id=""
                  ng-model="formData.email"
                  placeholder="Email ID"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="">
                <textarea
                  class="form-control no-resize"
                  name="query"
                  id=""
                  maxlength="300"
                  rows="8"
                  ng-model="formData.query"
                  ng-draggable="false"
                  placeholder="Only upto 300 words"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="submit text-center mt-3">
                <div class="pb-3" ng-if="showValidationError">
                  Fill up all the fields with valid values.
                </div>
                <div class="pb-3" ng-if="showError">
                  Something went wrong. Resubmit the form.
                </div>
                <button class="btn btn-light" type="submit">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="google-map" ng-if="map">
    <iframe
      src="{{ map }}"
      width="100%"
      height="400px"
      frameborder="0"
      style="border:0"
      allowfullscreen
    ></iframe>
  </div>
</section>
