<footer ng-controller="footerCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="footerMain opensans-light text-center">
          <div
            class="footerLists"
          >
            <a href="https://sfanow.in/aboutus">About Us</a>
            <span class="listSeparator"
              >|</span
            >
          </div>
          <div
            class="footerLists"
          >
            <a href="https://sfanow.in/pressmedia">Press &amp; Media</a>
            <span class="listSeparator"
              >|</span
            >
          </div>
          <div
            class="footerLists"
          >
            <a href="http://ajif.in/">Ab Jeetega India Foundation</a>
            <span class="listSeparator"
              >|</span
            >
          </div>
          <div
            class="footerLists"
          >
            <a href="https://sfanow.in/contactus">Contact</a>
            <span class="listSeparator"
              >|</span
            >
          </div>
          <div
            class="footerLists"
          >
            <a href="https://sfanow.in/terms-condition"
              >Terms &amp; Conditions</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
