<footer class="bg-color">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <!--
          <p class="text-center">Copyright © Avishkar Big Bash. All Rights Reserved.</p>
        -->
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <p class="text-center">Powered By Wall-E Events.</p>
      </div>
      <!--
        <div class="col-lg-12 col-md-12 col-sm-12">
            <p class="text-center">Copyright &copy; Avishkar Big Bash. All Rights Reserved.</p>
        </div>
      -->
      <!--
        <div class="col-sm-6">
            <div class="pull-right">
                <p>Developed by
                    <a href="http://www.wohlig.com" target="_blank">Wohlig Transformationshea</a>.</p>
            </div>
        </div>
      -->
    </div>
  </div>
</footer>
