<footer
  ng-controller="footerCtrl"
  class="footer  footer-css py-3 titillium-web-semiBold"
>
  <div class="container">
    <div class="row justify-content-center align-items-center mb-5">
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="text-uppercase text-right subscribe-head">
          Subscribe to our newsletter
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-12">
        <div class="">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="newsletter" />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">
                <i class="far fa-envelope"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="footerLists social-list">
          <div>RIFC Social Handles</div>
          <div class="">
            <span class="mx-2 pointer">
              <a href="https://www.facebook.com/royalinfiafc/" target="_blank"
                ><i class="fab fa-facebook"></i
              ></a>
            </span>
            <span class="mx-2 pointer">
              <a
                href="https://instagram.com/royalindiafc?igshid=tl1rkuq2p28o"
                target="_blank"
                ><i class="fa fa-instagram"></i
              ></a>
            </span>
            <span class="mx-2 pointer">
              <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            </span>
            <span class="mx-2 pointer">
              <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="footerLists text-right text-uppercase">
          <ul class="list-inline">
            <li class="list-inline-item mr-3 left-section">
              <ul class="list-unstyled text-left">
                <li><a href="https://rifc.com">Home</a></li>
                <li><a href="https://rifc.com">About Us</a></li>
                <li><a href="https://rifc.com">Academy</a></li>
              </ul>
            </li>
            <li class="list-inline-item right-section">
              <ul class="list-unstyled text-left">
                <li><a href="https://rifc.com">Master Class</a></li>
                <li><a href="https://rifc.com">News & updates</a></li>
                <li><a href="https://rifc.com">Contact Us</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="footerMain text-center">
          <div class="footerLists">
            <a href="https://rifc.com">Copyright - rifc.com</a>
            <span class="listSeparator">|</span>
          </div>
          <div class="footerLists">
            <a href="#">FAQs</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
