<section class="about-us my-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div
          class="text-center text-uppercase oswald-bold main-head font-32 mb-5"
        >
          <span class="border-bottom border-dark px-2">
            About Us
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="mb-5 content1">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum. <br />
          <br />

          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum. <br />
          <br />
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="team bg-color-light py-4 mb-5">
          <div class="">
            <div
              class="subhead oswald-bold font-24 mb-3 text-uppercase text-center"
            >
              <span class="px-2 border-bottom border-dark">
                Rifc Team
              </span>
            </div>
          </div>

          <div class="position-relative p-4">
            <div class="team-image-holder pr-3">
              <img src="img/sunil.jpg" alt="rifc-team" class="img-responsive" />
            </div>
            <div class="position-absolute team-brief py-4 pr-4">
              <div
                class="border-bottom border-dark text-capitalize font-18  mb-3"
              >
                <span class="pr-5 titillium-web-semiBold">Vignesh Vignesh</span>
                <span class="small">Founder</span>
              </div>
              <div class="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Provident a unde ab natus fuga deleniti nemo praesentium hic
                eaque aut pariatur mollitia iste ex dignissimos omnis at,
                aperiam delectus iure!
              </div>
            </div>
          </div>
          <div class="position-relative p-4">
            <div class="team-image-holder pr-3">
              <img src="img/sunil.jpg" alt="rifc-team" class="img-responsive" />
            </div>
            <div class="position-absolute team-brief py-4 pr-4">
              <div
                class="border-bottom border-dark text-capitalize font-18  mb-3"
              >
                <span class="pr-5 titillium-web-semiBold">Vignesh Vignesh</span>
                <span class="small">Founder</span>
              </div>
              <div class="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Provident a unde ab natus fuga deleniti nemo praesentium hic
                eaque aut pariatur mollitia iste ex dignissimos omnis at,
                aperiam delectus iure!
              </div>
            </div>
          </div>
          <div class="position-relative p-4">
            <div class="team-image-holder pr-3">
              <img src="img/sunil.jpg" alt="rifc-team" class="img-responsive" />
            </div>
            <div class="position-absolute team-brief py-4 pr-4">
              <div
                class="border-bottom border-dark text-capitalize font-18  mb-3"
              >
                <span class="pr-5 titillium-web-semiBold">Vignesh Vignesh</span>
                <span class="small">Founder</span>
              </div>
              <div class="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Provident a unde ab natus fuga deleniti nemo praesentium hic
                eaque aut pariatur mollitia iste ex dignissimos omnis at,
                aperiam delectus iure!
              </div>
            </div>
          </div>
          <!-- <div class="mb-4">
            <div class="d-sm-flex flex-row">
              <div class="px-3">
                <div class="img-holder mx-auto">
                  <img
                    src="img/sunil.jpg"
                    alt="rifc-team"
                    class="img-responsive"
                  />
                </div>
              </div>
              <div class="px-3">
                <div
                  class="border-bottom border-dark text-capitalize font-18  mb-3"
                >
                  <span class="pr-5">Vignesh Vignesh</span>
                  <span>Founder</span>
                </div>
                <div class="">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Provident a unde ab natus fuga deleniti nemo praesentium hic
                  eaque aut pariatur mollitia iste ex dignissimos omnis at,
                  aperiam delectus iure!
                </div>
              </div>
            </div>
          </div>
          <div class="mb-4">
            <div class="d-flex">
              <div class="px-3">
                <div class="img-holder mx-auto">
                  <img
                    src="img/sunil.jpg"
                    alt="rifc-team"
                    class="img-responsive"
                  />
                </div>
              </div>
              <div class="px-3">
                <div
                  class="border-bottom border-dark text-capitalize font-18  mb-3"
                >
                  <span class="pr-5">Vignesh Vignesh</span>
                  <span>Founder</span>
                </div>
                <div class="">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Provident a unde ab natus fuga deleniti nemo praesentium hic
                  eaque aut pariatur mollitia iste ex dignissimos omnis at,
                  aperiam delectus iure!
                </div>
              </div>
            </div>
          </div>
          <div class="mb-4">
            <div class="d-flex">
              <div class="px-3">
                <div class="img-holder mx-auto">
                  <img
                    src="img/sunil.jpg"
                    alt="rifc-team"
                    class="img-responsive"
                  />
                </div>
              </div>
              <div class="px-3">
                <div
                  class="border-bottom border-dark text-capitalize font-18  mb-3"
                >
                  <span class="pr-5">Vignesh Vignesh</span>
                  <span>Founder</span>
                </div>
                <div class="">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Provident a unde ab natus fuga deleniti nemo praesentium hic
                  eaque aut pariatur mollitia iste ex dignissimos omnis at,
                  aperiam delectus iure!
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="content2">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </div>
      </div>
    </div>
  </div>
</section>
