<!--Banner-->
<section class="news-updates my-5">
  <!-- <div class="banners-img" ng-if="banner.banner">
    <img
      ng-src="{{ banner.banner | uploadpath }}"
      alt="{{ banner.name }} Banner"
      class="img-responsive"
    />
  </div> -->

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div
          class="text-center text-uppercase oswald-bold main-head font-32 mb-5"
        >
          <span class="border-bottom border-dark px-2">
            News & Updates
          </span>
        </div>
      </div>
    </div>
    <div class="mb-5" ng-if="getNews.length>0">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="team bg-color-light py-4">
            <div
              class="position-relative p-4"
              ng-repeat="news in getNews track by $index"
              ng-if="news.status=='Enable'"
            >
              <div class="team-image-holder pr-3" ng-if="news.image">
                <img
                  ng-src="{{ news.image | uploadpath }}"
                  alt="rifc-team"
                  class="img-responsive"
                />
              </div>
              <div class="team-image-holder pr-3" ng-if="!news.image">
                <img
                  src="img/img-holder/480x480.jpg"
                  alt="rifc-team"
                  class="img-responsive"
                />
              </div>
              <div class="position-absolute team-brief py-4 pr-4 w-100">
                <div
                  class="border-bottom border-dark text-capitalize font-18  mb-3"
                >
                  <span class="pr-5 titillium-web-semiBold">{{
                    news.title
                  }}</span>
                  <span class="small">{{
                    news.newsDate | date: "dd MMM yyyy"
                  }}</span>
                </div>
                <div class="" ng-bind-html="news.description | rawHtml"></div>
                <!-- <div class="view-button">
                  <button class="btn btn-link">View More Less</button>
                </div> -->
              </div>
            </div>
            <!-- <div class="position-relative p-4">
              <div class="team-image-holder pr-3">
                <img
                  src="img/img-holder/480x480.jpg"
                  alt="rifc-team"
                  class="img-responsive"
                />
              </div>
              <div class="position-absolute team-brief py-4 pr-4">
                <div
                  class="border-bottom border-dark text-capitalize font-18  mb-3"
                >
                  <span class="pr-5 titillium-web-semiBold"
                    >Vignesh Vignesh</span
                  >
                  <span class="small">Founder</span>
                </div>
                <div class="">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Provident a unde ab natus fuga deleniti nemo praesentium hic
                  eaque aut pariatur mollitia iste ex dignissimos omnis at,
                  aperiam delectus iure!
                </div>
                <div class="view-button">
                  <button class="btn btn-link">View More Less</button>
                </div>
              </div>
            </div>
            <div class="position-relative p-4">
              <div class="team-image-holder pr-3">
                <img
                  src="img/img-holder/480x480.jpg"
                  alt="rifc-team"
                  class="img-responsive"
                />
              </div>
              <div class="position-absolute team-brief py-4 pr-4">
                <div
                  class="border-bottom border-dark text-capitalize font-18  mb-3"
                >
                  <span class="pr-5 titillium-web-semiBold"
                    >Vignesh Vignesh</span
                  >
                  <span class="small">Founder</span>
                </div>
                <div class="">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Provident a unde ab natus fuga deleniti nemo praesentium hic
                  eaque aut pariatur mollitia iste ex dignissimos omnis at,
                  aperiam delectus iure!
                </div>
                <div class="view-button">
                  <button class="btn btn-link">View More Less</button>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-if="getNews.length>0">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="float-left">
          <div
            class="btn btn-light"
            ng-if="hasPrevious == true"
            ng-click="callPrevious()"
          >
            Previous
          </div>
        </div>
        <div class="float-right">
          <div
            class="btn btn-light"
            ng-if="hasNext == true"
            ng-click="callNext()"
          >
            Next
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-if="getNews.length==0">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="text-center font-24">
          No Data Found
        </div>
      </div>
    </div>
    <div class="row" ng-if="getNews.length==undefined">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="text-center">
          Loading . .
        </div>
      </div>
    </div>
  </div>
</section>
