<section class="homepage">
  <div class="relate">
    <div class="">
      <div class="">
        <div class="container">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="">
      <div class="container">
        <div class="row"></div>
      </div>
    </div>
  </div>
  <div>
    <div class="">
      <div class="container">
        <div class="row"></div>
      </div>
    </div>
  </div>
  <div>
    <div class="">
      <div class="container">
        <div class="row"></div>
      </div>
    </div>
  </div>
  <div>
    <div class="">
      <div class="container">
        <div class="row"></div>
      </div>
    </div>
  </div>
  <div class="enquiries my-5">
    <div class="container">
      <div class="row">
        <div class="col-8 mx-auto">
          <div
            class="subhead oswald-bold font-24 mb-5 text-uppercase text-center"
          >
            <u>
              Enquiries
            </u>
          </div>
          <form action="">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    name="name"
                    id=""
                    ng-model="name"
                    placeholder="Name"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id=""
                    ng-model="email"
                    placeholder="Email Id"
                  />
                </div>
                <div class="">
                  <input
                    type="tel"
                    class="form-control"
                    name="phone"
                    maxlength="10"
                    id=""
                    only-digits
                    ng-model="mobile"
                    placeholder="Mobile"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="">
                  <textarea
                    class="form-control noresize"
                    name=""
                    id=""
                    maxlength="300"
                    rows="8"
                    ng-model="query"
                    ng-draggable="false"
                    placeholder="Only upto 300 words"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class=" submit text-center mt-5">
                  <div class="btn btn-light">Submit</div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
