<section class="gallery my-5">
  <!-- <div class="banners-img" ng-if="banner.banner">
    <img
      ng-src="{{ banner.banner | uploadpath }}"
      alt="{{ banner.name }} Banner"
      class="img-responsive"
    />
  </div> -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div
          class="text-center text-uppercase oswald-bold main-head font-32 mb-5"
        >
          <span class="border-bottom border-dark px-2">
            Gallery
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="gallery-showcase bg-color text-white py-5 mb-5">
        <div class="mx-auto">
          <div class="d-flex">
            <div class="w-100">
              <div class="d-flex">
                <div class="">
                  <img
                    src="{{ smallImage1 }}"
                    alt="smallImage1"
                    class="img-responsive doneLoading"
                  />
                </div>
                <div class="">
                  <img
                    src="{{ smallImage2 }}"
                    alt="smallImage2"
                    class="img-responsive doneLoading"
                  />
                </div>
              </div>
              <div class="w-100">
                <img
                  src="{{ mediumImage }}"
                  alt="mediumImage"
                  class="img-responsive doneLoading"
                />
              </div>
            </div>
            <div class="w-100">
              <img
                src="{{ largeImage }}"
                alt="Gallery Pic1"
                class="img-responsive doneLoading"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-if="getPhotoAlbums.length>0">
      <div class="mb-5 sm-padding">
        <div class="w-100">
          <div class="text-capitalize font-24 mb-3">
            <span class="titillium-web-semiBold">PHOTOS</span>
          </div>
        </div>
        <div class="row">
          <div
            class="col-lg-3 col-md-3 col-sm-3 mb-3"
            ng-repeat="photos in getPhotoAlbums track by $index"
          >
            <a
              ui-sref="gallery-photos({mediaType:'Photo',folderName:photos.folderName})"
              class="text-dark no-underline"
            >
              <div class="photo-holder pb-2" ng-if="photos.mediaLink">
                <img
                  src="{{ photos.mediaLink | uploadpath }}"
                  alt="{{ photos.folderName }}"
                  class="img-responsive"
                />
              </div>
              <div class="photo-holder pb-2" ng-if="!photos.mediaLink">
                <img
                  src="img/img-holder/1184x690.jpg"
                  alt="{{ photos.folderName }}"
                  class="img-responsive"
                />
              </div>
              <div class="photo-title titillium-web-bold font-18">
                {{ photos.folderName }}
              </div>
            </a>
          </div>
          <!-- <div class="col-lg-3 col-md-3 col-sm-3 mb-3">
            <a href="#" class="text-dark no-underline">
              <div class="photo-holder pb-2">
                <img src="img/img-holder/1184x690.jpg" alt="Ad 3" class="img-responsive" />
              </div>
              <div class="photo-title titillium-web-bold font-18">
                Academy
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 mb-3">
            <a href="#" class="text-dark no-underline">
              <div class="photo-holder pb-2">
                <img src="img/img-holder/1184x690.jpg" alt="Ad 3" class="img-responsive" />
              </div>
              <div class="photo-title titillium-web-bold font-18">
                Academy
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 mb-3">
            <a href="#" class="text-dark no-underline">
              <div class="photo-holder pb-2">
                <img src="img/img-holder/1184x690.jpg" alt="Ad 3" class="img-responsive" />
              </div>
              <div class="photo-title titillium-web-bold font-18">
                Academy
              </div>
            </a>
          </div> -->
        </div>
        <div class="w-100 text-right">
          <a
            class="text-dark btn-link btn-light"
            ui-sref="gallery-albums({
            mediaType:'Photo'
          })"
            >View More</a
          >
        </div>
      </div>
    </div>
    <div class="row" ng-if="getVideoAlbums.length>0">
      <div class="sm-padding">
        <div class="w-100">
          <div class="text-capitalize font-24 mb-3">
            <span class="titillium-web-semiBold">VIDEOS</span>
          </div>
        </div>
        <div class="row">
          <div
            class="col-lg-3 col-md-3 col-sm-3 mb-3"
            ng-repeat="videos in getVideoAlbums track by $index"
          >
            <a
              ui-sref="gallery-photos({mediaType:'Video',folderName:videos.folderName})"
              class="text-dark no-underline"
            >
              <div class="photo-holder pb-2" ng-if="videos.videoThumbnail">
                <img
                  src="{{ videos.videoThumbnail | uploadpath }}"
                  alt="{{ videos.folderName }}"
                  class="img-responsive"
                />
              </div>
              <div class="photo-holder pb-2" ng-if="!videos.videoThumbnail">
                <img
                  src="img/img-holder/1184x690.jpg"
                  alt="{{ videos.folderName }}"
                  class="img-responsive"
                />
              </div>
              <div class="photo-title titillium-web-bold font-18">
                {{ videos.folderName }}
              </div>
            </a>
          </div>
          <!-- <div class="col-lg-3 col-md-3 col-sm-3 mb-3">
            <a href="#" class="text-dark no-underline">
              <div class="photo-holder pb-2">
                <img src="img/img-holder/1184x690.jpg" alt="Ad 3" class="img-responsive" />
              </div>
              <div class="photo-title titillium-web-bold font-18">
                Academy
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 mb-3">
            <a href="#" class="text-dark no-underline">
              <div class="photo-holder pb-2">
                <img src="img/img-holder/1184x690.jpg" alt="Ad 3" class="img-responsive" />
              </div>
              <div class="photo-title titillium-web-bold font-18">
                Academy
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 mb-3">
            <a href="#" class="text-dark no-underline">
              <div class="photo-holder pb-2">
                <img src="img/img-holder/1184x690.jpg" alt="Ad 3" class="img-responsive" />
              </div>
              <div class="photo-title titillium-web-bold font-18">
                Academy
              </div>
            </a>
          </div> -->
        </div>
        <div class="w-100 text-right">
          <a
            class="text-dark btn-link btn-light"
            ui-sref="gallery-album({
            mediaType:'Video'
          })"
            >View More</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
