<section class="gallery my-5">
  <div class="banners-img" ng-if="banner.banner">
    <img
      ng-src="{{ banner.banner | uploadpath }}"
      alt="{{ banner.name }} Banner"
      class="img-responsive"
    />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div
          class="text-center text-uppercase oswald-bold main-head font-32 mb-5"
        >
          <span class="border-bottom border-dark px-2">
            Gallery
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="gallery-showcase bg-color text-white py-5 mb-5">
        <div class="mx-auto">
          <div class="d-flex">
            <div class="w-100">
              <div class="d-flex">
                <div class="">
                  <img
                    src="img/1.jpg"
                    alt="Gallery Pic1"
                    class="img-responsive doneLoading"
                  />
                </div>
                <div class="">
                  <img
                    src="img/2g.png"
                    alt="Gallery Pic1"
                    class="img-responsive doneLoading"
                  />
                </div>
              </div>
              <div class="w-100">
                <img
                  src="img/3.jpg"
                  alt="Gallery Pic1"
                  class="img-responsive doneLoading"
                />
              </div>
            </div>
            <div class="w-100">
              <img
                src="img/4.jpg"
                alt="Gallery Pic1"
                class="img-responsive doneLoading"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="mb-5 sm-padding">
        <div class="w-100">
          <div class="text-capitalize font-24 mb-3">
            <span class="titillium-web-semiBold">PHOTOS</span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 mb-3">
            <a href="#" class="text-dark no-underline">
              <div class="photo-holder pb-2">
                <img src="img/ad3.jpg" alt="Ad 3" class="img-responsive" />
              </div>
              <div class="photo-title titillium-web-bold font-18">
                Academy
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 mb-3">
            <a href="#" class="text-dark no-underline">
              <div class="photo-holder pb-2">
                <img src="img/ad3.jpg" alt="Ad 3" class="img-responsive" />
              </div>
              <div class="photo-title titillium-web-bold font-18">
                Academy
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 mb-3">
            <a href="#" class="text-dark no-underline">
              <div class="photo-holder pb-2">
                <img src="img/ad3.jpg" alt="Ad 3" class="img-responsive" />
              </div>
              <div class="photo-title titillium-web-bold font-18">
                Academy
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 mb-3">
            <a href="#" class="text-dark no-underline">
              <div class="photo-holder pb-2">
                <img src="img/ad3.jpg" alt="Ad 3" class="img-responsive" />
              </div>
              <div class="photo-title titillium-web-bold font-18">
                Academy
              </div>
            </a>
          </div>
        </div>
        <div class="w-100 text-right">
          <a class="text-dark btn-link btn-light">View More</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="sm-padding">
        <div class="w-100">
          <div class="text-capitalize font-24 mb-3">
            <span class="titillium-web-semiBold">VIDEOS</span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 mb-3">
            <a href="#" class="text-dark no-underline">
              <div class="photo-holder pb-2">
                <img src="img/ad3.jpg" alt="Ad 3" class="img-responsive" />
              </div>
              <div class="photo-title titillium-web-bold font-18">
                Academy
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 mb-3">
            <a href="#" class="text-dark no-underline">
              <div class="photo-holder pb-2">
                <img src="img/ad3.jpg" alt="Ad 3" class="img-responsive" />
              </div>
              <div class="photo-title titillium-web-bold font-18">
                Academy
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 mb-3">
            <a href="#" class="text-dark no-underline">
              <div class="photo-holder pb-2">
                <img src="img/ad3.jpg" alt="Ad 3" class="img-responsive" />
              </div>
              <div class="photo-title titillium-web-bold font-18">
                Academy
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 mb-3">
            <a href="#" class="text-dark no-underline">
              <div class="photo-holder pb-2">
                <img src="img/ad3.jpg" alt="Ad 3" class="img-responsive" />
              </div>
              <div class="photo-title titillium-web-bold font-18">
                Academy
              </div>
            </a>
          </div>
        </div>
        <div class="w-100 text-right">
          <a class="text-dark btn-link btn-light">View More</a>
        </div>
      </div>
    </div>
  </div>
</section>
