<section class="gallery my-5">
  <div class="container" ng-if="getGallery.length>0">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div
          class="text-center text-uppercase oswald-bold main-head font-32 mb-5"
        >
          <span class="border-bottom border-dark px-2">
            List Of Photos
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div
        class="col-lg-3 col-md-3 col-sm-3"
        ng-repeat="gallery in getGallery track by $index"
      >
        <div class="mb-3" ng-if="gallery.mediaType=='Photo'">
          <a
            href="img/ad3.jpg"
            rel="group"
            data-fancybox="gallery"
            class="text-dark no-underline"
            ng-if="gallery.mediaLink"
          >
            <div class="photo-holder pb-2">
              <img
                src="{{ gallery.mediaLink | uploadpath }}"
                alt="{{ gallery.folderName }}"
                class="img-responsive"
              />
            </div>
          </a>
          <a
            href="img/img-holder/1184x690.jpg"
            rel="group"
            data-fancybox="gallery"
            class="text-dark no-underline"
            ng-if="!gallery.mediaLink"
          >
            <div class="photo-holder pb-2">
              <img
                src="img/img-holder/1184x690.jpg"
                alt="{{ gallery.folderName }}"
                class="img-responsive"
              />
            </div>
          </a>
        </div>
        <div class="mb-3" ng-if="gallery.mediaType=='Video'">
          <a
            class="various fancybox.iframe"
            rel="gallery1"
            fancybox
            href="https://www.youtube.com/embed/{{
              gallery.mediaLink
            }}?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1"
            ng-if="gallery.mediaLink"
          >
            <div class="folder-box sf-relative">
              <img
                ng-src="https://img.youtube.com/vi/{{
                  gallery.mediaLink
                }}/sddefault.jpg"
                alt="Sports For All"
                class="img-responsive"
              />
            </div>
          </a>
          <a
            class="various fancybox.iframe"
            rel="gallery1"
            fancybox
            href="https://www.youtube.com/embed/Oxp0hNB02QQ?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1"
            ng-if="!gallery.mediaLink"
          >
            <div class="folder-box sf-relative">
              <img
                ng-src="https://img.youtube.com/vi/Oxp0hNB02QQ/sddefault.jpg"
                alt="Sports For All"
                class="img-responsive"
              />
            </div>
          </a>
        </div>
      </div>
      <!-- <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="mb-3">
          <a
            href="img/ad3.jpg"
            rel="group"
            data-fancybox="gallery"
            class="text-dark no-underline"
          >
            <div class="photo-holder pb-2">
              <img src="img/ad3.jpg" alt="Ad 3" class="img-responsive" />
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="mb-3">
          <a
            href="img/ad3.jpg"
            rel="group"
            data-fancybox="gallery"
            class="text-dark no-underline"
          >
            <div class="photo-holder pb-2">
              <img src="img/ad3.jpg" alt="Ad 3" class="img-responsive" />
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="mb-3">
          <a
            href="img/ad3.jpg"
            rel="group"
            data-fancybox="gallery"
            class="text-dark no-underline"
          >
            <div class="photo-holder pb-2">
              <img src="img/ad3.jpg" alt="Ad 3" class="img-responsive" />
            </div>
          </a>
        </div>
      </div> -->
    </div>
    <!-- <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="mb-3">
          <a
            class="various fancybox.iframe"
            rel="gallery1 "
            fancybox
            href="https://www.youtube.com/embed/Oxp0hNB02QQ?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1 "
          >
            <div class="folder-box sf-relative ">
              <img
                ng-src="https://img.youtube.com/vi/Oxp0hNB02QQ/sddefault.jpg "
                alt="Sports For All
                "
                class="img-responsive "
              />
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="mb-3">
          <a
            class="various fancybox.iframe"
            rel="gallery1 "
            fancybox
            href="https://www.youtube.com/embed/Oxp0hNB02QQ?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1 "
          >
            <div class="folder-box sf-relative ">
              <img
                ng-src="https://img.youtube.com/vi/Oxp0hNB02QQ/sddefault.jpg "
                alt="Sports For All
                "
                class="img-responsive "
              />
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="mb-3">
          <a
            class="various fancybox.iframe"
            rel="gallery1 "
            fancybox
            href="https://www.youtube.com/embed/Oxp0hNB02QQ?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1 "
          >
            <div class="folder-box sf-relative ">
              <img
                ng-src="https://img.youtube.com/vi/Oxp0hNB02QQ/sddefault.jpg "
                alt="Sports For All
                "
                class="img-responsive "
              />
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="mb-3">
          <a
            class="various fancybox.iframe"
            rel="gallery1 "
            fancybox
            href="https://www.youtube.com/embed/Oxp0hNB02QQ?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1 "
          >
            <div class="folder-box sf-relative ">
              <img
                ng-src="https://img.youtube.com/vi/Oxp0hNB02QQ/sddefault.jpg "
                alt="Sports For All
                "
                class="img-responsive "
              />
            </div>
          </a>
        </div>
      </div>
    </div> -->
  </div>
</section>
